## Tuple

In [104]:
tup1 = (1,2,3,4,5)
print(tup1)

(1, 2, 3, 4, 5)

In [2]:
print(tup1[3])

4

In [3]:
tup2=("str1","str2","str3")
print(tup2)

('str1', 'str2', 'str3')

In [4]:
mix_tup = ("rohan", 2, 3, "shubham")
print(mix_tup)

('rohan', 2, 3, 'shubham')

In [8]:
new_tup = "hello",1, 3, "string1",
print(new_tup)
print(type(new_tup))

('hello', 1, 3, 'string1')
<class 'tuple'>

In [9]:
tup4 = "hello"
print(type(tup4))
tup5 = "hello",
print(type(tup5))

<class 'str'>
<class 'tuple'>

In [2]:
#new_tup[0] = "hi" #will give error as tuples are immutable

In [3]:
new_tup = "hi", "hello", "rohan", 1,2,3,
print(new_tup)

('hi', 'hello', 'rohan', 1, 2, 3)

In [4]:
print(new_tup[-3])

1

In [5]:
tup = (1,2,3,4,5,6,7,8)
print(tup)
print(tup[2:5])

(1, 2, 3, 4, 5, 6, 7, 8)
(3, 4, 5)

In [6]:
del tup
# print(tup)

In [7]:
tup = (1,2,3, ["vanket","basa", "BBIS","bal bharti", 23, 45], "rohan", "str1")
print(tup)
print(tup[2])
print(tup[3])
print(tup[4])

(1, 2, 3, ['vanket', 'basa', 'BBIS', 'bal bharti', 23, 45], 'rohan', 'str1')
3
['vanket', 'basa', 'BBIS', 'bal bharti', 23, 45]
rohan

In [8]:
tup[3][2] = "kms" 
print(tup[3])

['vanket', 'basa', 'kms', 'bal bharti', 23, 45]

In [9]:
#tup[3] = "hong kong"

In [10]:
tup5 = 1,2,3,4,5,32,3,1,2,1,2,1,3,2,1,3,1,1,2,3,4,
print(tup5)

(1, 2, 3, 4, 5, 32, 3, 1, 2, 1, 2, 1, 3, 2, 1, 3, 1, 1, 2, 3, 4)

In [11]:
print(tup5.count(1))
print(tup5.count(55))

7
0

In [12]:
str_tup = ("bharat","mata","ki","jay","vande", "mataram","bharat","bharat","bharat","jay","vande")
str_tup.count("bharat")

4

In [13]:
add_tup = (str_tup + tup5)
print(add_tup)

('bharat', 'mata', 'ki', 'jay', 'vande', 'mataram', 'bharat', 'bharat', 'bharat', 'jay', 'vande', 1, 2, 3, 4, 5, 32, 3, 1, 2, 1, 2, 1, 3, 2, 1, 3, 1, 1, 2, 3, 4)

In [14]:
num_tup = 1,2,3,
print(num_tup*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
print(tup5)
print(tup5.count(1))
print(tup5.count(55))

print(tup5.index(3))

(1, 2, 3, 4, 5, 32, 3, 1, 2, 1, 2, 1, 3, 2, 1, 3, 1, 1, 2, 3, 4)
7
0
2

In [16]:
print(len(tup5))
length = len(tup5)
for i in range (length):
    if(tup5[i] == 1):
        print(i)

21
0
7
9
11
14
16
17

In [17]:
for i in tup5:
    #if(tup5[i] == 1):
    print(i)

1
2
3
4
5
32
3
1
2
1
2
1
3
2
1
3
1
1
2
3
4

In [18]:
tup = "hello", "hi", "ram", "shyam",
for i in tup:
    print(i)

hello
hi
ram
shyam

In [19]:
print(tup5)
print(tup5.count(1))
print(tup5.count(55))
print(1 in tup5)
print(55 in tup5)


print(1 not in tup5)
print(55 not in tup5)

(1, 2, 3, 4, 5, 32, 3, 1, 2, 1, 2, 1, 3, 2, 1, 3, 1, 1, 2, 3, 4)
7
0
True
False
False
True

In [20]:
list1 = [1,2,3,4,5]
tup1 = tuple(list1)
print(type(tup1))
int_num=1
#tuple(int_num)
#print(type(int_num))

<class 'tuple'>

## Dictionary

In [21]:
dict1 = {"mcs":"anshul", "vis":["anubhav","bharat"], "basava":["abhiraj", "umaansh"]}
print(dict1)
print(type(dict1))

{'mcs': 'anshul', 'vis': ['anubhav', 'bharat'], 'basava': ['abhiraj', 'umaansh']}
<class 'dict'>

In [22]:
dict1.keys()

dict_keys(['mcs', 'vis', 'basava'])

In [23]:
dict1.values()

dict_values(['anshul', ['anubhav', 'bharat'], ['abhiraj', 'umaansh']])

In [24]:
dict1["mcs"]

'anshul'

In [25]:
#dict1[1] #dictionary are not accessible using index

In [26]:
dict2 = {1:98, 2:90, 3:85}
dict2[1]

98

In [27]:
for i in dict2.items():
    print(i)
    
print(type(dict2.items()))

(1, 98)
(2, 90)
(3, 85)
<class 'dict_items'>

In [28]:
for i in dict2:
    print(i)

1
2
3

In [1]:
list1 = ["ab", "r1"]
print(type(list1))

<class 'list'>

In [3]:
dict_first = dict(list1)
print(dict_first)

{'a': 'b', 'r': '1'}

In [16]:
dict_second = {1:"abc", 2:"str2"}
print(dict_second)

{1: 'abc', 2: 'str2'}

In [17]:
## add kay and value
dict_second[3]="gagan bharti"
print(dict_second)

{1: 'abc', 2: 'str2', 3: 'gagan bharti'}

In [31]:
dict_second[7]="satyamev jayte"
print(dict_second)

{1: 'abc', 2: 'def', 3: 'gagan bharti', 7: 'satyamev jayte'}

In [32]:
dict_second["abc"]="aa"
print(dict_second)

{1: 'abc', 2: 'def', 3: 'gagan bharti', 7: 'satyamev jayte', 'abc': 'aa'}

In [18]:
## update key and value

dict_second[2]="def"
print(dict_second)

{1: 'abc', 2: 'def', 3: 'gagan bharti'}

In [ ]:
del dict_second

In [22]:
dict_third = {"a":"str1", "b":"str2", 3:"str3"}
for i in dict_third:
    print(dict_third[i])

str1
str2
str3

In [23]:
for i in dict_third:
    dict_third[i]="zebra"

In [24]:
print(dict_third)

{'a': 'zebra', 'b': 'zebra', 3: 'zebra'}

In [30]:
dict_third.pop("b")

'zebra'

In [38]:
dict_fourth={3: 'gagan bharti',0: 'abc', 8: 'def', "A":"ABC" }
print(dict_fourth)

{3: 'gagan bharti', 0: 'abc', 8: 'def', 'A': 'ABC'}

In [40]:
#print(sorted(dict_fourth))
print(dict_fourth)

{3: 'gagan bharti', 0: 'abc', 8: 'def', 'A': 'ABC'}

[0, 3, 8]